@mixin centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  .basicInfo, .miscInfo{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 20px;
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .userInteractionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-weight: bolder;
    margin: auto auto;
    border-radius: 10px;
    gap: 10px;
    max-height: 100px;

    .searchbar{
      display: flex;
      justify-content: center;
      border: 2px solid transparent; 
      height: fit-content;
      background-color: inherit;
      border-bottom: 2px solid white;
      button[type="submit"]{
        img{
          max-height: 20px;
        }
        &:hover{
          cursor: pointer;
        }
      }
      button[type="submit"], input[type="text"]{
        padding: 10px;
        font-weight: 700;
        color: white;
        border: none;
        background-color: inherit;
        &::placeholder{
          color: white;
        }
      }
      input{
        flex-grow: 2;
        font-size: .8rem;
        &:focus{
          outline: none;
        }
      }

    }

  }

  .basicInfo{
    .locationName, .temperature{
      font-size: 2rem;
      font-weight: 600;
    }
    .tempDiv{
      @include centerFlex;
      gap: 20px;
    }
  }
  .miscInfo{

    max-width: 300px;
    margin: 30px 100px;

    .infoBlock{
      width: 100%;
      @include centerFlex;
      justify-content: space-between;
      gap: 5px;
      img{
        max-height: 45px;
      }
    }

    .miscInfoHeader{
      font-size: 1.5rem;
      font-weight: 600;
    }
    div > p, span{
      font-size: .9rem;
      font-weight: 400;
    }
    div > h3{
      font-weight: 500;
    }
    .miniContainer{
      @include centerFlex;
      flex-direction: column;
      gap: 10px;
    }
  }
}


.temperatureSystemBtn{
  height: 48px;
  padding: 10px;
  border-radius: 5px;
  color: black;
  border: none;
  background-color: powderblue;
  @include centerFlex;
  &:hover{
    cursor: pointer;
    background-color: lightgreen;
  }
}





// Media Queries

@media(max-width: 800px){

  main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    section{
      min-width: 400px;
      max-width: 700px;
    }
  }
  
  .userInteractionContainer{
    max-width: 300px;
    font-size: .8rem;
    input, button{
      max-width: 100px;
    }
  }
}

@media(max-width: 600px){

  main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    section{
      min-width: 300px;
      max-width: 500px;
    }
  }

  .userInteractionContainer{
    max-width: 250px;
    input, button{
      max-width: 50px;
      font-size: .8rem;
    }
    input{
      max-width: 100px;
    }
  }
}