section#forecastContainer{
  // border: 2px solid red;
  height: clamp(200px, 400px, 800px);
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .forecastHeader{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
    button.dailyBtn, button.hourlyBtn{
      font-size: 1.5rem;
      padding: 10px;
      background: none;
      border: none;
      border-bottom: 2px solid transparent;
      &:hover{
        cursor: pointer;
      }
    }
    button.activeChoice{
      border-bottom: 2px solid white;
      &:focus{
        border: none;
        border-bottom: 2px solid white;
      }
    }
    div{
      display: flex;
      gap: 5px;
      .dotBtn{
        margin: auto;
        padding: 10px;
        border: none;
        border-radius: 50%;
        background-color: inherit;
        border: 1px solid black;
        opacity: .9;
        &:hover{
          cursor: pointer;
        }
        cursor: pointer;
      }
      .leftBtn, .rightBtn{
        font-size: 3rem;
        border: none;
        background-color: inherit;
        color: white;
        &:hover{
          cursor: pointer;
        }
      }
      .activeDot{
        background-color: white;
      }
    }
  }

  section#forecast{
    @include centerFlex;
    height: clamp(200px, 300px, 600px);
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    > *{
      height: 250px;
      @include centerFlex;
    }
    .dayContainer, .hourContainer{
      // border: 2px solid red;
      padding: 10px;
      flex: 1 1 0px;
      display: flex;
      flex-direction: column;
      .highTemp{
        font-size: 1.4rem;
      }
      .lowTemp{
        font-size: .9rem;
      }
      img{
        width: 100px;
        margin: auto;
      }
      .dayHeader, .dayDescription, .pContainer > *{
        margin: 10px;
        display: flex;
        justify-content: center;
      }
      .iconDiv{
        @include centerFlex;
        flex-direction: column;
        font-size: .7rem;
        > *{
          margin: auto;
        }
      }
    }
  }
}

.invisibleDotDiv{
  display: none !important;
}