section#forecastContainer{
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .forecastHeader{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
    button{
      font-size: 1.5rem;
      padding: 10px;
      background: none;
      border: none;
      border-bottom: 2px solid transparent;
      &:hover{
        cursor: pointer;
      }
    }
    button.activeChoice{
      border-bottom: 2px solid white;
      &:focus{
        border: none;
        border-bottom: 2px solid white;
      }
    }
  }

  section#forecast{
    height: calc(min(350px, 80%));
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    .dayContainer{
      flex: 1 1 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .highTemp{
        font-size: 1.2rem;
      }
      .lowTemp{
        font-size: .7rem;
      }
      img{
        width: 100px;
        margin: auto;
      }
      .dayHeader, .dayDescription, .pContainer > *{
        margin: 10px;
        display: flex;
        justify-content: center;
      }
    }
  }
}


