main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .basicInfo, main .miscInfo {
  border-top: 1px solid white;
  padding: 20px;
  margin: 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

main .userInteractionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  font-weight: bolder;
  margin-top: -30px;
  border-radius: 10px;
  gap: 10px;
  max-height: 100px;
}

main .userInteractionContainer .searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid transparent;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: inherit;
  border-bottom: 2px solid white;
}

main .userInteractionContainer .searchbar button[type="submit"] img {
  max-height: 20px;
}

main .userInteractionContainer .searchbar button[type="submit"]:hover {
  cursor: pointer;
}

main .userInteractionContainer .searchbar button[type="submit"], main .userInteractionContainer .searchbar input[type="text"] {
  padding: 10px;
  font-weight: 700;
  color: white;
  border: none;
  background-color: inherit;
}

main .userInteractionContainer .searchbar button[type="submit"]::-webkit-input-placeholder, main .userInteractionContainer .searchbar input[type="text"]::-webkit-input-placeholder {
  color: white;
}

main .userInteractionContainer .searchbar button[type="submit"]:-ms-input-placeholder, main .userInteractionContainer .searchbar input[type="text"]:-ms-input-placeholder {
  color: white;
}

main .userInteractionContainer .searchbar button[type="submit"]::-ms-input-placeholder, main .userInteractionContainer .searchbar input[type="text"]::-ms-input-placeholder {
  color: white;
}

main .userInteractionContainer .searchbar button[type="submit"]::placeholder, main .userInteractionContainer .searchbar input[type="text"]::placeholder {
  color: white;
}

main .userInteractionContainer .searchbar input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-size: .8rem;
}

main .userInteractionContainer .searchbar input:focus {
  outline: none;
}

main .basicInfo .locationName, main .basicInfo .temperature {
  font-size: 1.6rem;
  font-weight: 600;
}

main .basicInfo .temperature {
  font-size: 2.5rem;
}

main .basicInfo .tempDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

main .basicInfo .weatherIcon {
  width: 90px;
}

main .miscInfo {
  max-width: 300px;
}

main .miscInfo .infoBlock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
}

main .miscInfo .infoBlock img {
  max-height: 45px;
}

main .miscInfo .precipitationPercentage {
  margin-top: 5px;
}

main .miscInfo .miscInfoHeader {
  font-size: 1.5rem;
  font-weight: 600;
}

main .miscInfo div > p, main .miscInfo span {
  font-size: .9rem;
  font-weight: 400;
}

main .miscInfo div > h3 {
  font-weight: 500;
}

main .miscInfo .miniContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  min-width: 200px;
}

.temperatureSystemBtn {
  height: 48px;
  padding: 10px;
  border-radius: 5px;
  color: black;
  border: none;
  background-color: powderblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.temperatureSystemBtn:hover {
  cursor: pointer;
  background-color: lightgreen;
}

.error {
  display: none;
  font-size: .9rem;
  border: 1px solid transparent;
}

.visible {
  display: block;
  max-width: 250px;
  border: 1px solid white;
  padding: 10px;
}

section#forecastContainer {
  height: clamp(200px, 400px, 800px);
  margin: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

section#forecastContainer .forecastHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

section#forecastContainer .forecastHeader button.dailyBtn, section#forecastContainer .forecastHeader button.hourlyBtn {
  font-size: 1.5rem;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
}

section#forecastContainer .forecastHeader button.dailyBtn:hover, section#forecastContainer .forecastHeader button.hourlyBtn:hover {
  cursor: pointer;
}

section#forecastContainer .forecastHeader button.activeChoice {
  border-bottom: 2px solid white;
}

section#forecastContainer .forecastHeader button.activeChoice:focus {
  border: none;
  border-bottom: 2px solid white;
}

section#forecastContainer .forecastHeader div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

section#forecastContainer .forecastHeader div .dotBtn {
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: inherit;
  border: 1px solid black;
  opacity: .9;
  cursor: pointer;
}

section#forecastContainer .forecastHeader div .dotBtn:hover {
  cursor: pointer;
}

section#forecastContainer .forecastHeader div .leftBtn, section#forecastContainer .forecastHeader div .rightBtn {
  font-size: 3rem;
  border: none;
  background-color: inherit;
  color: white;
}

section#forecastContainer .forecastHeader div .leftBtn:hover, section#forecastContainer .forecastHeader div .rightBtn:hover {
  cursor: pointer;
}

section#forecastContainer .forecastHeader div .activeDot {
  background-color: white;
}

section#forecastContainer section#forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: clamp(200px, 300px, 600px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

section#forecastContainer section#forecast > * {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#forecastContainer section#forecast .dayContainer, section#forecastContainer section#forecast .hourContainer {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#forecastContainer section#forecast .dayContainer .highTemp, section#forecastContainer section#forecast .hourContainer .highTemp {
  font-size: 1.4rem;
}

section#forecastContainer section#forecast .dayContainer .lowTemp, section#forecastContainer section#forecast .hourContainer .lowTemp {
  font-size: .9rem;
}

section#forecastContainer section#forecast .dayContainer img, section#forecastContainer section#forecast .hourContainer img {
  width: 100px;
  margin: auto;
}

section#forecastContainer section#forecast .dayContainer .dayHeader, section#forecastContainer section#forecast .dayContainer .dayDescription, section#forecastContainer section#forecast .dayContainer .pContainer > *, section#forecastContainer section#forecast .hourContainer .dayHeader, section#forecastContainer section#forecast .hourContainer .dayDescription, section#forecastContainer section#forecast .hourContainer .pContainer > * {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#forecastContainer section#forecast .dayContainer .iconDiv, section#forecastContainer section#forecast .hourContainer .iconDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: .7rem;
}

section#forecastContainer section#forecast .dayContainer .iconDiv > *, section#forecastContainer section#forecast .hourContainer .iconDiv > * {
  margin: auto;
}

.invisibleDotDiv {
  display: none !important;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  font-family: 'Rubik', sans-serif;
  line-height: 1;
}

:root {
  height: 100vh;
  width: 100vw;
}

body {
  background: powderblue url("../img/weather.jpg") no-repeat fixed center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

@media (max-width: 1150px) {
  section#forecastContainer section#forecast .hourContainer {
    border-bottom: 2px solid white;
  }
  section#forecastContainer section#forecast .hourContainer > .p1, section#forecastContainer section#forecast .hourContainer .hourHeader {
    width: 50px;
  }
  section#forecastContainer section#forecast .hourContainer > .iconDiv {
    width: 70px;
    font-size: .8rem;
  }
}

@media (max-width: 1000px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section {
    width: calc(clamp(300px, 400px, 700px));
  }
  .userInteractionContainer {
    max-width: 300px;
    font-size: .8rem;
  }
  .userInteractionContainer input, .userInteractionContainer button {
    max-width: 100px;
  }
  section#forecastContainer {
    height: auto;
    margin: 5px;
    padding: 5px;
    font-size: .9rem;
  }
  section#forecastContainer section#forecast {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#forecastContainer section#forecast .dayContainer, section#forecastContainer section#forecast .hourContainer {
    border-bottom: 2px solid white;
    line-height: 1;
    height: auto;
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  section#forecastContainer section#forecast .dayContainer > .dayHeader, section#forecastContainer section#forecast .dayContainer .pContainer, section#forecastContainer section#forecast .dayContainer .iconDiv, section#forecastContainer section#forecast .hourContainer > .dayHeader, section#forecastContainer section#forecast .hourContainer .pContainer, section#forecastContainer section#forecast .hourContainer .iconDiv {
    width: 100px;
  }
  section#forecastContainer section#forecast .hourContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
    padding: 10px;
  }
}

@media (max-width: 700px) {
  main section {
    min-width: 300px;
    max-width: 500px;
  }
  .userInteractionContainer {
    max-width: 250px;
  }
  .userInteractionContainer input, .userInteractionContainer button {
    max-width: 50px;
    font-size: .8rem;
  }
  .userInteractionContainer input {
    max-width: 100px;
  }
  section#forecastContainer section#forecast .dayContainer {
    width: 400px;
    gap: 15px;
  }
  section#forecastContainer section#forecast .dayContainer .dayContainer .highTemp {
    font-size: 1rem;
  }
  section#forecastContainer section#forecast .dayContainer .dayContainer .lowTemp {
    font-size: .8rem;
  }
  section#forecastContainer section#forecast .dayContainer .dayContainer img {
    width: 70px;
    margin: auto;
  }
  section#forecastContainer section#forecast .dayContainer .dayContainer .dayHeader, section#forecastContainer section#forecast .dayContainer .dayContainer .dayDescription, section#forecastContainer section#forecast .dayContainer .dayContainer .pContainer > * {
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 500px) {
  section#forecastContainer section#forecast .dayContainer {
    width: 200px;
  }
  section#forecastContainer section#forecast .dayContainer .highTemp {
    font-size: .9rem;
  }
  section#forecastContainer section#forecast .dayContainer .lowTemp {
    font-size: .7rem;
  }
  section#forecastContainer section#forecast .dayContainer img {
    width: 50px;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */