@import 'main';
@import 'section';
@import 'global';

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  font-family: 'Rubik', sans-serif;
  line-height: 1;
}
:root{
  height: 100vh;
  width: 100vw;
}
body{
  background: powderblue url("../img/weather.jpg") no-repeat fixed center / cover;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


// Media Queries

// @media(max-width: 1100px){



// }

@media(max-width: 900px){

  main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    section{
      min-width: 400px;
      max-width: 700px;
    }
  }
  
  .userInteractionContainer{
    max-width: 300px;
    font-size: .8rem;
    input, button{
      max-width: 100px;
    }
  }

  section#forecastContainer{
    margin: 5px;
    padding: 5px;
    font-size: .9rem;
    section#forecast{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .dayContainer{
        flex-direction: row;
        width: 500px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

@media(max-width: 600px){

  main section{
    min-width: 300px;
    max-width: 500px;
  }

  .userInteractionContainer{
    max-width: 250px;
    input, button{
      max-width: 50px;
      font-size: .8rem;
    }
    input{
      max-width: 100px;
    }
  }

  section#forecastContainer section#forecast .dayContainer{
    width: 400px;
    gap: 15px;
    .dayContainer{
      .highTemp{
        font-size: 1rem;
      }
      .lowTemp{
        font-size: .8rem;
      }
      img{
        width: 70px;
        margin: auto;
      }
      .dayHeader, .dayDescription, .pContainer > *{
        margin: 10px;
        display: flex;
        justify-content: center;
      }
    }
  }

}

@media(max-width: 450px){
  section#forecastContainer section#forecast .dayContainer{
    width: 200px;
    .highTemp{
      font-size: .9rem;
    }
    .lowTemp{
      font-size: .7rem;
    }
    img{
      width: 50px;
      margin: auto;
    }
  }
}